h1{
    font-size: 40px;
}

main{
    background-image: url('assets/images/Photo-by-Jonathan-Borba-on-Unsplash.jpg');
    height: 100vh;
}

.index-div{
    width: 30%;
    margin-left: 5%;
    padding-top: 20%;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
}

.index-div h1{
    
    margin-left: 20%;
}

.index-div button{
    margin-left: 20%;
    margin-top: 5%;
}
